@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model StoreApp.ViewModels.ProductListViewModel

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
}

<h1>Product List</h1>


<div class="container">
    <form asp-controller="Products" asp-action="Index" method="post">
        <div class="row">
            
            <div class="form-group col-md-6">
                <label asp-for="SearchText">Search Text</label>
                <input type="text" asp-for="SearchText" class="form-control" id="searchText">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="PriceLower">Lower Price</label>
                <input asp-for="PriceLower" class="form-control" id="priceLower">
            </div>
            <div class="form-group col-md-2">
                <label asp-for="PriceUpper">Upper Price</label>
                <input asp-for="PriceUpper" class="form-control" id="priceUpper">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control" asp-items="ViewBag.Size"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control" asp-items="ViewBag.Color"></select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
        
    </form>
</div>


<div class="container">
    
    <div class="row">
       @foreach (var item in Model.ProductList)
        {
            string description = new string(item.Description.Take(20).ToArray());   
                
            if (counter != 0 && counter % 3 == 0)
            {
                @:</div>
                @:<div class="row">
            }
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <a href="Products/Details/@item.Id" >
                    <img src="/images/@item.ImageName" class="card-img-top" alt="...">
                        </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@description ...</p>
                         <h5 class="card-title">@item.Price TL</h5>
                     
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <button class="btn btn-primary addToCart" data-productid="@item.Id" data-userid="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" >Add To Cart</button>
                            }
                            else
                            {
                                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login To Add Cart</a>
                            }
                            
                    </div>
                </div>
            </div>
            
            counter++;

        }
       
        </div>


</div>