@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Product>

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    
    <div class="row">
       @foreach (var item in Model)
        {
            string description = new string(item.Description.Take(20).ToArray());   
                
            if (counter != 0 && counter % 3 == 0)
            {
                @:</div>
                @:<div class="row">
            }
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <a href="Products/Details/@item.Id" >
                    <img src="/images/@item.ImageName" class="card-img-top" alt="...">
                        </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@description ...</p>
                         <h5 class="card-title">@item.Price TL</h5>
                     
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <button class="btn btn-primary addToCart" data-productid="@item.Id" data-userid="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" >Add To Cart</button>
                            }
                            else
                            {
                                <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login To Add Cart</a>
                            }
                            
                    </div>
                </div>
            </div>
            
            counter++;

        }
       
        </div>


</div>